### Laravel ###
vendor/
node_modules/
/bootstrap/compiled.php
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example

### WordPress ###
*.log
.htaccess
public/wordpress/sitemap.xml
public/wordpress/sitemap.xml.gz
public/wordpress/wp-config.php
public/wordpress/wp-content/advanced-cache.php
public/wordpress/wp-content/backup-db/
public/wordpress/wp-content/backups/
public/wordpress/wp-content/blogs.dir/
public/wordpress/wp-content/cache/
public/wordpress/wp-content/upgrade/
public/wordpress/wp-content/uploads/
public/wordpress/wp-content/wp-cache-config.php
public/wordpress/wp-content/plugins/hello.php

/readme.html
/license.txt
